<h3>Erro interno do servidor - Recarregue a página para que o erro desapareça.</h3>
<ng-container *ngIf="error">
    <h5 class="text-danger">Error: {{error.message}} </h5>
    <p class="font-weight-bold">Nota: Se você esta vendo isto, angular provavelmente não é o culpado.</p>
    <p>O que fazer a seguir ?</p>
    <ol>
        <li>Abra o console</li>
        <li>Inspecione a aba network</li>
        <li>Cheque a solicitação de falha</li>
        <li>Examine a URL requisitada - Tenha certeza se que está correto</li>
        <li>Reproduza o erro no POSTman - Se ver a mesma resposta o Angular provavelmente não é o culpado pelo erro</li>
    </ol>
    <p>Sua investigação deve começar por aqui!</p>
    <code class="mt-5" style="background-color: whitesmoke;">{{error.details}}</code>
</ng-container>


