.dropdown-toggle, .dropdown-item {
    cursor: pointer;
}

.nav-link:focus {
    color:rgb(255, 255, 255)
}

.nav-link:hover {
    color:rgb(255, 255, 255)
}

.nav-link {
    color:rgb(167, 167, 167)
}

.active {
    color: white;
}